#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

// Klor matrix position map (44 positions; outer pinkies + middle/encoder are unused on 36-key):
//                  0  1  2  3  4         5  6  7  8  9
//             10  11 12 13 14 15        16 17 18 19 20 21
//             22  23 24 25 26 27 28 29  30 31 32 33 34 35
//                          36 37 38 39  40 41 42 43
// 36-key thumbs: physical thumbs at 36/37/38 (left, outer to inner) and 41/42/43 (right, inner to outer);
// 39 and 40 are the inner-most thumb positions which don't exist on the 36-key.

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <80>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 30 31 32 33 34 35 40 41 42 43>;
            hold-trigger-on-release;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <80>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 36 37 38 39>;
            hold-trigger-on-release;
        };

        ht: hold_tap_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
                  &kp Q         &kp W         &kp E        &kp R        &kp T                                          &kp Y      &kp U        &kp I        &ht SQT O     &ht LS(SQT) P
&none             &hml LSHFT A  &hml LCTRL S  &hml LALT D  &hml LGUI F  &kp G                                          &kp H      &hmr RGUI J  &hmr RALT K  &hmr RCTRL L  &hmr RSHFT SEMI  &none
&kp ESCAPE        &kp Z         &kp X         &kp C        &kp V        &kp B        &none           &none             &kp N      &kp M        &kp COMMA    &kp DOT       &kp FSLH         &kp SQT
                                              &kp ESCAPE   &lt LOWER TAB &kp SPACE   &none          &none             &kp ENTER  &lt RAISE BSPC &kp MINUS
            >;
        };

        lower_layer {
            display-name = "lower";
            bindings = <
                  &trans        &trans        &kp UP       &trans       &kp LPAR                                       &kp RPAR   &kp N7       &kp N8       &kp N9        &kp N0
&trans            &kp LSHFT     &kp LEFT      &kp DOWN     &kp RIGHT    &kp LBKT                                       &kp RBKT   &hmr RGUI N4 &hmr RALT N5 &hmr RCTRL N6 &hmr RSHFT MINUS &trans
&trans            &trans        &kp LGUI      &kp MINUS    &trans       &kp PLUS     &kp LBRC        &kp RBRC          &kp N1     &kp N2       &kp N3       &kp STAR      &trans           &trans
                                              &trans       &trans       &trans       &none          &none              &trans     &mo ADJUST   &trans
            >;
        };

        raise_layer {
            display-name = "raise";
            bindings = <
                  &kp N1        &kp N2        &kp N3       &kp N4       &kp N5                                         &kp N6     &kp N7       &kp N8       &kp N9        &kp N0
&trans            &kp EXCL      &kp AT        &kp HASH     &kp DOLLAR   &kp PERCENT                                    &kp CARET  &kp AMPS     &kp STAR     &kp LPAR      &kp RPAR         &trans
&trans            &kp GRAVE     &trans        &trans       &trans       &trans       &trans          &kp UNDER         &kp EQUAL  &trans       &trans       &kp PIPE      &kp TILDE        &trans
                                              &trans       &mo ADJUST   &trans       &none          &none              &trans     &trans       &trans
            >;
        };

        adjust_layer {
            display-name = "adjust";
            bindings = <
                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2 &none        &none                                          &none      &none        &none        &none         &none
&none             &none         &none         &none        &none        &none                                          &none      &kp LG(LS(LC(N4))) &none  &kp C_VOL_DN  &kp C_VOL_UP     &none
&none             &none         &none         &none        &none        &none        &none           &none             &none      &none        &none        &kp C_BRI_DN  &kp C_BRI_UP     &none
                                              &none        &none        &none        &none          &none              &none      &none        &none
            >;
        };
    };
};
